<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__ . '/bin/')
    ->in(__DIR__ . '/lib/')
    ->in(__DIR__ . '/tests/')
    ->in(__DIR__ . '/tools/')
;

$config = PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        'declare_strict_types' => true,
    ])
    ->setFinder($finder)
;

return $config;
